<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="approval">
 
	<!-- 새결재 진행 -->
	<insert id="insert" parameterType="mocha.ezen.com.approval.ApprovalDTO" 
	    useGeneratedKeys="true" keyProperty="approval_no">
	    INSERT INTO approval 
	    (approval_no,approval_title, approval_kind, approval_note, created_at) 
	    VALUES 
	    (#{approval_no}, #{approval_title}, #{approval_kind}, #{approval_note}, #{created_at}) 
	</insert>
	
	<!-- 결재선 insert -->
	<insert id="approverinsert" parameterType="mocha.ezen.com.approver.ApproverDTO" 
	    useGeneratedKeys="true" keyProperty="approver_no">
	    INSERT INTO approver 
	    (approver_no,approval_no, approval_orther, approval_status, aproval_at, user_id) 
	    VALUES 
	    (#{approver_no}, #{approval_no}, #{approval_orther}, #{approval_status}, #{aproval_at}, #{user_id}) 
	</insert>
	
	<!-- 내 기안목록 -->
	<select id="selectdraft" parameterType="mocha.ezen.com.approval.ApprovalDTO" resultType="mocha.ezen.com.approval.ApprovalDTO">
         SELECT
        	approval_no, approval_status, 
        	(select name from user where user_id = approval.user_id) as name, 
        	date(created_at) as created_at, approval_title, 
        	(CASE approval_kind
            WHEN '1' THEN '연차신청'
            WHEN '2' THEN '업무지원요청'
            WHEN '3' THEN '예산신청'
            WHEN '4' THEN '출장신청'
        END) AS approval_kind, approval_note
        	approval_kind, approval_note
        FROM approval
        <choose>
	        <when test = "approval_kind != 1">
	        where approval_kind = ${ approval_kind }
	        </when>
        </choose>
        ORDER BY created_at DESC  
    </select>
    
    <!-- 결재 목록 -->
    <select id="selectapproval" parameterType="mocha.ezen.com.approval.ApprovalDTO" resultType="mocha.ezen.com.approval.ApprovalDTO">
       SELECT
        	approval_no, approval_status, 
        	(select name from user where user_id = approval.user_id) as name, 
        	date(created_at) as created_at, approval_title, 
        	(CASE approval_kind
            WHEN '1' THEN '연차신청'
            WHEN '2' THEN '업무지원요청'
            WHEN '3' THEN '예산신청'
            WHEN '4' THEN '출장신청'
        END) AS approval_kind, approval_note
        	approval_kind, approval_note
        FROM approval
        <choose>
	        <when test = "approval_kind != 1">
	        where approval_kind = ${ approval_kind }
	        </when>
        </choose>
        ORDER BY created_at DESC  
	</select>
	
	<!-- 결재 상세조회 -->
	<select id="view" parameterType="java.lang.String" 
			resultType="mocha.ezen.com.approval.ApprovalDTO">
		select 
			approval_no,user_id,approval_title,approval_kind,approval_note,date(created_at) as created_at,
			(select name from user where user_id = approval.user_id) as name
		from approval
		where approval_no = #{ approval_no }
	</select>
	
	<!-- 결재선 조회 -->
	<select id="approver" parameterType="java.lang.String" 
			resultType="mocha.ezen.com.approver.ApproverDTO">
		select 
			approver_no,user_id,approval_no,approval_order,approval_status,approval_at,
		
		from approver
		
	</select>
	
	<!-- 
	<update id="update" parameterType="mocha.ezen.com.schedule.ScheduleDTO">
		update schedule set
		schedule_title = #{ schedule_title },
		schedule_note = #{ schedule_note },				
		schedule_kind = #{ schedule_kind }
		where schedule_no = #{ schedule_no }		
	</update>

	 	
	<delete id="delete" parameterType="java.lang.String">
		delete from schedule
		where no = #{ no }
	</delete>
	
	<select id="total" parameterType="mocah.ezen.com.SearchDTO"
		resultType="java.lang.Integer">
		select count(*) as total
		from board
		where kind = #{ kind } 
		<if test='keyword != null and !keyword.equals("")'>
			and title like '%${ keyword }%'
		</if>
	</select>
	
	<select id="list" parameterType="mocah.ezen.com.SearchDTO"
		resultType="mocha.ezen.com.schedule.ScheduleDTO">
		select schedule_no,schedule_title,date(wdate) as wdate,
		(select name from user where user_id = board.user_id) as name,
		from board
		where kind = #{ kind } 
		<if test='keyword != null and !keyword.equals("")'>
			and title like '%${ keyword }%'
		</if>
		order by no desc
		limit #{offset},10		
	</select>
	 -->
		
</mapper>
