<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="common">
	<!-- depart -->
	<select id="departList" resultType="mocha.ezen.com.departments.DepartmentDTO">
		select dept_id, dept_name 
		from departments
	</select>
	<!-- position -->
	<select id="positionList" resultType="mocha.ezen.com.positions.PositionDTO">
		select *
		from positions 
		order by position_level desc;
	</select>
	<!-- search -->
	<!-- <select id="searchUser" parameterType="mocha.ezen.com.common.dto.UserSearchDTO" 
		resultType="mocha.ezen.com.user.UserDTO">
		select user_id  
		from user 
		where ${sort} = #{keyword} 
		<choose>
			<when test="${dept_id} == '0' || ">
			</when>
			<otherwise>
				and  dept_id = ${dept_id}
			</otherwise>
		</choose> 
		
		
	</select>
	-->
	<!-- 
	<select id="searchApproval" 
	parameterType="mocha.ezen.com.ApprovalSearchDTO" resultType="mocha.ezen.com.ApprovalDTO"> 
		select * 
		from approval where approver.user_id = #{login_id} and approval_status 
		= 'IN_PROGRESS' 
		<choose>
			<when test="sort == 'user_id'"> and user_id = #{user_id} 
			</when>
			<when test="sort == 'approval_title'"> and approval_title = #{name} 
			</when> 
		</choose> 
	</select>
	-->
</mapper>
