<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="schedule">
 
	
	<insert id="insert" parameterType="ScheduleDTO" 
	    useGeneratedKeys="true" keyProperty="schedule_no">
	    INSERT INTO schedule 
	    (user_id, schedule_title, schedule_kind, schedule_note, start_at, end_at) 
	    VALUES 
	    (#{user_id}, #{schedule_title}, #{schedule_kind}, #{schedule_note}, #{start_at}, #{end_at}) 
	</insert>
	
	 <!-- 
	<select id="view" parameterType="java.lang.String" 
			resultType="mocha.ezen.com.ScheduleDTO">
		select 
			schedule_no,user_id,schedule_title,schedule_kind,schedule_note,start_at,
			(select name from user where user_id = board.userid) as name
		from schedule
		where schedule_no = #{ no }
	</select>

	<update id="update" parameterType="mocha.ezen.com.ScheduleDTO">
		update schedule set
		schedule_title = #{ schedule_title },
		schedule_note = #{ schedule_note },				
		schedule_kind = #{ schedule_kind }
		where schedule_no = #{ schedule_no }		
	</update>

		
	<delete id="delete" parameterType="java.lang.String">
		delete from schedule
		where no = #{ no }
	</delete>
	
	<select id="total" parameterType="com.ezen.vo.SearchVO"
		resultType="java.lang.Integer">
		select count(*) as total
		from board
		where kind = #{ kind } 
		<if test='keyword != null and !keyword.equals("")'>
			and title like '%${ keyword }%'
		</if>
	</select>
	
	<select id="list" parameterType="com.ezen.vo.SearchVO"
		resultType="com.ezen.vo.BoardVO">
		select no,title,date(wdate) as wdate,hit,
		(select name from user where userid = board.userid) as name,
		(select count(*) from reply where no = board.no) as rcount
		from board
		where kind = #{ kind } 
		<if test='keyword != null and !keyword.equals("")'>
			and title like '%${ keyword }%'
		</if>
		order by no desc
		limit #{offset},10		
	</select>
	 -->
		
</mapper>
