<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="schedule">
 
		<!-- user_id, #{user_id}, 일단 삭제 후 로인인 완료 후 추가, 테스트하기 -->	
	<insert id="insert" parameterType="mocha.ezen.com.schedule.ScheduleDTO" 
	    useGeneratedKeys="true" keyProperty="schedule_no">
	    INSERT INTO schedule 
	    (user_id, schedule_title, schedule_kind, schedule_note, start_at, end_at) 
	    VALUES 
	    ( #{user_id}, #{schedule_title}, #{schedule_kind}, #{schedule_note}, #{start_at}, #{end_at}) 
	</insert>
	
	<!-- 단일 -->
	<select id="view" parameterType="java.lang.String" 
			resultType="mocha.ezen.com.schedule.ScheduleDTO">
		select 
			schedule_no,user_id,schedule_title,schedule_kind,schedule_note,start_at, end_at,
			(select name from user where user_id = board.user_id) as name
		from schedule
		where schedule_no = #{ schedule_no }
	</select>
	
	<!-- 목록 -->
	<select id="selectAllEvents" parameterType="mocha.ezen.com.schedule.ScheduleDTO" resultType="mocha.ezen.com.schedule.ScheduleDTO">
        select
        	schedule_no, user_id, start_at, end_at, schedule_title, schedule_kind,schedule_note
        from schedule
       
    </select>
	<select id="selectAdminAllEvents" parameterType="mocha.ezen.com.common.dto.ScheduleSearchDTO" resultType="mocha.ezen.com.schedule.ScheduleDTO">
        <!-- select
        	schedule_no, 
        	(select name from user where user_id = schedule.user_id) as name, 
       		start_at, end_at, 
       		date(created_at) as created_at, 
       		schedule_title, schedule_kind, schedule_note
     	from schedule 
     	where 1 = 1 
     	<if test="start_at != null">
		and  start_at gt #{start_at}
		</if>
     	<if test="end_at != null">
		and  end_at lt #{dept_id}
		</if>
     	<if test="dept_id != null">
		and  dept_id = #{dept_id}
		</if>
     	<if test="schedule_kind != null">
		and  schedule_kind = #{schedule_kind}
		</if>
     	<if test="name != null">
		and  name = #{name}
		</if>
     	<if test="schedule_title != null">
		and  schedule_title = #{schedule_title}
		</if> -->
		
		select
			schedule_no, 
			start_at, end_at, 
			date(schedule.created_at) as created_at, 
			schedule_title, schedule_kind, schedule_note, user.name
		from schedule left join user on schedule.user_id = user.user_id
     	<where>
	     	<if test="start_at != null and !start_at.equals('')">
			and  start_at &gt; STR_TO_DATE(concat(#{start_at}, ' ', '00:00:00'), '%Y-%m-%d %H:%i:%s') 
			</if>
	     	<if test="end_at != null and !end_at.equals('')">
			and  end_at &lt; STR_TO_DATE(concat(#{end_at}, ' ', '00:00:00'), '%Y-%m-%d %H:%i:%s') 
			</if>
	     	<!-- 
	     	<if test="name != null and !dept_id.equals('') and dept_id != 0">
			and  dept_id = #{dept_id}
			</if>
			-->
	     	<if test="schedule_kind != null and !schedule_kind.equals('') and !schedule_kind.equals('all')">
			and  schedule_kind = #{schedule_kind}
			</if>
	     	<if test="name != null and !name.equals('')">
			and  user.name = #{name}
			</if>
	     	<if test="schedule_title != null and !schedule_title.equals('')">
			and  schedule_title = #{schedule_title}
			</if> 
		</where>
       
    </select>
	<update id="update" parameterType="mocha.ezen.com.schedule.ScheduleDTO">
		update schedule set
		schedule_title = #{ schedule_title },
		schedule_note = #{ schedule_note },				
		schedule_kind = #{ schedule_kind }
		where schedule_no = #{ schedule_no }		
	</update>
	 	
	<delete id="delete" parameterType="java.lang.String">
		delete from schedule
		where schedule_no = #{ schedule_no }
	</delete>
	
 
	
	
	<!-- 
	<select id="total" parameterType="mocah.ezen.com.SearchDTO"
		resultType="java.lang.Integer">
		select count(*) as total
		from board
		where kind = #{ kind } 
		<if test='keyword != null and !keyword.equals("")'>
			and title like '%${ keyword }%'
		</if>
	</select>
	
	<select id="list" parameterType="mocah.ezen.com.SearchDTO"
		resultType="mocha.ezen.com.schedule.ScheduleDTO">
		select schedule_no,schedule_title,date(wdate) as wdate,
		(select name from user where user_id = board.user_id) as name,
		from board
		where kind = #{ kind } 
		<if test='keyword != null and !keyword.equals("")'>
			and title like '%${ keyword }%'
		</if>
		order by no desc
		limit #{offset},10		
	</select>
	 -->
		
</mapper>
